.roomz-io-header-container {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.5rem 1rem black;
  }
  .roomz-io-header-contents {
    display: flex;
    align-items: center;
    padding: 0 3rem;

  }
  
  .roomz-io-title {
    font-size: 5rem;
  }

  @media screen and (max-width: 1200px) {
    .roomz-io-title {
      font-size: 4rem;
    }

  }
  @media screen and (max-width: 950px) {

  }