.contact-me-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem;
}

.contact-me-header {
  margin-bottom: 0.5rem;
}

.contact-me-header > p {
  margin-bottom: 0.5rem;
  font-size: 5rem;
  text-shadow: rgb(220, 125, 265) 1px 0 10px;
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

input.contact-me-form-control {
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.3rem 0.5rem;
  padding: 0.5rem;
  border: 0.1rem solid black;
  margin-bottom: 1rem;
}

textarea.contact-me-form-control {
  resize: none;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.3rem 0.5rem;
  padding: 0.5rem;
  border: 0.1rem solid black;
  margin-bottom: 1rem;
}

.contact-me-submit-button {
  padding: 0.6rem 1rem;
  background-color: rgba(251, 0, 255, 0.225);
  color: whitesmoke;
  text-shadow: 0.1rem 0.2rem 0.4rem black;
  border-radius: 0.5rem;
  border: 2px solid black;
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.527);
  text-align: center;
  width: 10rem;
  align-self: end;
}

.contact-me-submit-button:hover,
.contact-me-submit-button:focus {
  animation: tilt-shaking 0.3s forwards; /* Add 'forwards' to keep the final state */
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
    background-color: rgba(251, 0, 255, 0.225);
    text-shadow: 0.1rem 0.2rem 0.4rem black;
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    background-color: rgba(115, 0, 255, 0.225);
    text-shadow: 0.1rem 0.1rem 0.2rem black;
    color: rgb(139, 178, 32);
    transform: rotate(0deg);
    font-weight: bolder;
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
    background-color: rgba(251, 0, 255, 0.225);
    text-shadow: 0.1rem 0.2rem 0.4rem black;

  }
}

.contact-me-form-control:focus {
  outline-color: rgba(115, 0, 255, 0.833);
}
