.display-item-section {
  display: flex;
  margin: 0 auto;

}

.display-item-text-section {
  max-width: 40%;
  flex-direction: column;
  padding: 2em;
}
.display-item-section-title {
  max-width: 100%;
  font-size: 3.5rem;
  text-shadow: rgb(220, 125, 265) 1px 0 10px;
}

.display-item-section-blob {
  max-width: 100%;
  padding-inline: 2em;
}

.display-item-section-blob > p {
  font-size: 1.25rem;
  
  color: lightgrey;
  font-weight: bolder;
  text-shadow: black 0.1rem 0.2rem 0.4rem;
}

.display-item-section-img {
  padding: 2rem;
  max-width: 50%;
}

.display-item-section-img > img {
  box-shadow: 1rem 1rem 3rem black;
  max-width: 100%;
}

@media screen and (max-width: 1500px) {
  .display-item-section-title {
    font-size: 3rem;
  }
  .display-item-section-blob > p {
    font-size: 1.2;

  }
}
@media screen and (max-width: 1200px) {
  .display-item-section-title {
    font-size: 2.5rem;
  }
  .display-item-section-blob > p {
    font-size: 1rem;

  }
}

@media screen and (max-width: 950px) {
  .display-item-section-title {
    font-size: 2rem;
  }
  .display-item-section-blob > p {
    font-size: .9rem;

  }
}