.page-header-label {
display: flex;

}
.page-header-label-text {
  margin: 0 auto;
  padding: 2rem;
  font-size: 5rem;
  text-shadow: rgb(220, 125, 265) 1px 0 10px;
}

.page-header-blob {
  font-size: 24px;
  color: lightgrey;
  font-weight: bolder;
  text-shadow: rgb(73, 0, 128) 0.1rem 0.2rem 0.4rem;
  padding: 2rem;
}

.indicator-label {
  font-size: 50px;
  color: lightgrey;
  font-weight: bolder;
  text-shadow: rgb(73, 0, 128) 0.1rem 0.2rem 0.4rem;
  text-align: center;
}
.separator {
  border: 1px solid rgba(245, 245, 245, 0.248);
  box-shadow: 0.1rem 0.2rem 1rem black;
  margin: 2rem;
}

@media screen and (max-width: 1500px) {

}
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 950px) {

}